{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-box">
        <h2>🎓 Student Login</h2>
         <!-- Messages -->
            {% if messages %}
                <div id="msg-container">
                    {% for message in messages %}
                        <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
                <script>
                  setTimeout(function() {
                    let msgBox = document.getElementById("msg-container");
                    if (msgBox) {
                      msgBox.style.transition = "opacity 0.5s ease";
                      msgBox.style.opacity = "0";
                      setTimeout(() => msgBox.remove(), 500);
                    }
                  }, 3000);
                </script>
            {% endif %}
            
        <form method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <button type="submit" class="btn-student">Login</button>
        </form>
        <a href="{% url 'student_register' %}" class="register-link">New User? Register</a>
         <div class="extra-link">
                <a href="{% url 'home' %}">⬅ Back to Home</a>
            </div>
    </div>
</body>
</html>
